@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{

  background-image: url('../20200918_122651.jpg');
  background-size: cover auto;
  background-position: center center;
  font-family: 'Open sans'

}
/* Formulario ==============================================*/

.form_wrap{
  width: 1050px;
  height: 530px;
  margin: 50px auto;
display: flex;

background-image: url('../expedienteclinicoelectronico.jpg');
background-size: cover;
background-position: center center;

opacity: 0.9;
  border-radius: 10px;
  overflow:hidden;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5);

  }
/* Informacion de contacto*/
.cantact_info::before{
content: '';
width: 100%;
height: 100%;

position: absolute;
top: 0;
left: 0;
background: #B8860B;

opacity: 0.9;
  }
.cantact_info{
width: 38%;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;


  }

.info_title,
.info_items{
position: relative;
z-index: 2;
color:#fff

}
.info_title{
/
}
.info_title span{
font-size: 100px;
display: block;
text-align: center;
}
.info_title h2{
font-size: 35px;
text-align: center;
margin-bottom: 20px;
}
.info_items p{
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 600;

  margin-bottom: 20px;
}
.info_items p:nth-child(1) span{
font-size: 20px;
margin-right: 10px;


}
  /* Formulario de contacto*/
  form.form_contact{
width: 62%;
padding: 30px 40px;
}
form.form_contact h2{
font-size: 30px;
font-weight: 600;
color: #fff;
margin-bottom: 80px;

}
form.form_contact .user_info{
display:flex;
color: #000000;
font-size: 30px;
margin-bottom: 40px;
flex-direction: column;
}

form.form_contact label{
  font-weight: 600;
}
form.form_contact input,
form.form_contact textarea{
  width: 100%;
  padding: 8px 0px 5px;

  border: none;
  border-bottom: 2px solid #D1D1D1;
  font-family: 'Open sans';
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

form.form_contact textarea{
  max-width: 100%;
  min-width: 100%;
  max-height:  90px;

}
  form.form_contact input[type="submit"]{

background: #DAA520;
padding:10px;
border: none;
border-radius: 20px;

color:#fff;
font-family: 'Open sans';
font-size: 16px;
font-weight: 600;
cursor: pointer;
  }
  form.form_contact input[type="submit"]:hover{
  background: #3371B6;
  }

  /* Ventana de validacion :V */
.modal_wrap{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0,7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  }
/*mensajes en segundo plano*/
  .mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
  text-align:center;
  font-family: 'Ubuntu';
  font-weight: 400;
}

.mensaje_modal h3::after{
content: '';
display: block;
width: 100%;
height: 1px;
background: #C5C5C5;
margin: 10px 0px 15px;
}
.mensaje_modal p{
font-size: 16px;
color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
font-family: FontAwesome;
display: inline-block;
color: #E25151;
margin-right: 8px;
}

#btnClose {
display: inline-block;
padding: 3px 10px;
margin-top: 10px;

background: #E25151;
color: #fff;
border: 2px solid #B14141;
cursor: pointer;
float: right;
}
/*mensaje exitoso*/

.mensaje-exito{
  width:  100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-image: url('../Mensaje.jpg');
  background-size: cover;
  background-position: center center;



}

.mensaje-exito h1{
font-size: 35px;
display: block;
text-align: center;
margin-bottom: 20px;
}

.mensaje-exito a{
  display: block;
  padding: 10px 30px;
  background: #4091EC;
  text-decoration: none;
  color: #fff;
  background: #B8860B;
  }

  .mensaje-exito a:hover{
    background: #3371B6;

    }
